{{! aircraft_speed Tab }}

<section class='tab aircraft_speed {{tab.cssClass}} vertical-slider' data-group='primary' data-tab='aircraft_speed'>
  <div class="slidecontainer">
  <input type="range" class="vertical-slider" min="{{system.decel.value}}" max="{{system.acc1.value}}" value="0" id="myRange">
  </div>

</section>