{{! aircraft_speed Tab }}

<section class='tab aircraft_speed {{tab.cssClass}}' data-group='primary' data-tab='aircraft_speed'>
  <div class="slidecontainer">
    <input type="range" class="aircraft-speed-slider" orient="vertical" min="-4" max="4" value="{{system.speed}}" id="myRange">
    <div>
      <p>Selected Change: <span class="slider-value-display">{{system.speed}}</span></p>
      <p>Current Speed: <span>{{system.curSpeed.value}}</span></p>
    </div>
  </div>

  <div class="maneuver-selection">
    <div class="row">
      <div class="column">
        <img src="systems/air-mercs/assets/maneuvers/barrelroll.png" alt="Barrel Roll" height="auto">
      </div>
    </div>
  </div>
</section>
